@model SitePruebaTecnica.Models.ClienteTransaccionModel;


<style>
    .bordered-section {
        border: 2px solid #dee2e6;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    .section-title {
        color: #333;
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
</style>

<div class="container">
        <div class="row">
        <div class="col-12 col-md-4" style="  text-align:left"><h5><label>Titular: @Model.Clientes.NombreTitular</label></h5></div>
        <div class="col-12 col-md-4" style="  text-align:left"><h5><label>Numero de Tarjeta: @Model.Clientes.NumeroTargeta</label></h5></div>
        <div class="col-12 col-md-4" style="  text-align:left"><h5><label>Limite de Credito $:  @Model.Clientes.LimiteCredito</label></h5></div>
        <div class="col-12 col-md-4" style="  text-align:left"><h5><label>Saldo Actual $: @Model.Clientes.SaldoActual</label></h5></div>
        <div class="col-12 col-md-4" style="  text-align:left"><h5><label>Saldo Disponible $: @Model.Clientes.SaldoDisponible</label></h5></div>
        <div class="col-12 col-md-4" style="  text-align:left"><h5><label>Total Compras mes actual $: @Model.TotalComprasMesActual</label></h5></div>
        <div class="col-12 col-md-4" style="  text-align:left"><h6><label>Total Compras mes anterior $: @Model.TotalComprasMesAnterior</label></h6></div>
        </div>
        <br />


    <div class="row">
            <div class="col-12 col-md-12" style="  text-align:left">
            <section class="bordered-section">
                Acciones
                <br />
                <div class="row">
                    <div class="col-12 col-md-4" style="text-align:left">
                        <button type="button" class="btn btn-primary" onclick="AddPagos(1);">
                            Registro Compras
                        </button>
                    </div>
                    <div class="col-12 col-md-4" style="text-align:left">
                        <button type="button" class="btn btn-secondary">
                            Registro Pagos
                        </button>
                    </div>
                    <div class="col-12 col-md-4" style="text-align:left" onclick="HistorialTransaccion(@Model.Clientes.CodCliente);">
                        <button type="button" class="btn btn-warning">
                            Historial transacciones
                        </button>
                    </div>
                </div>

             </section>

            </div>
    </div>

    <br />
    <div class="row" id="frmPagosclientes">
        <div class="col-12 col-md-12" style="  text-align:left">

            <section class="bordered-section">
              Registro de compras 
              <br />
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label>Descripcion</label>
                            @Html.TextBoxFor(model => model.Compras.Description, new
                                {
                                    @class = "form-control",
                                    maxlength = "100",
                                    pattern = "^[a-zA-ZáéíóúÁÉÍÓÚñÑ\\s]+$",
                                    title = "Solo se permiten letras y espacios",
                                    oninput = "this.value = this.value.replace(/[^a-zA-ZáéíóúÁÉÍÓÚñÑ\\s]/g,'')"
                                })
                            @Html.ValidationMessageFor(model => model.Compras.Description)
                        </div>

                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label>Monto</label>
                            @Html.TextBoxFor(model => model.Compras.Monto, new { @class = "form-control", type = "number", step = "0.01" })
                            @Html.ValidationMessageFor(model => model.Compras.Monto)
                        </div>

                    </div>

                    <div class="col-12 col-md-4">

                        <div class="form-group">
                            <label>Fecha de compra</label>
                            @Html.TextBoxFor(model => model.Compras.FechaTransaccion, new { @class = "form-control", type = "date" })
                            @Html.ValidationMessageFor(model => model.Compras.FechaTransaccion)
                        </div>

                    </div>
                </div>
               <div class="row">
                    <div class="col-12 col-md-3">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
               </div>
            
            </section>
       
        </div>
      
    </div>


    <br />
    <div class="row">
        <div class="col-12 col-md-12">
            <h1>Transacciones del cliente  </h1>
            <div id="transaccion">
                <table id="transacciones" class="table table-striped" style="width:100%">
                    <thead style="  text-align:left">
                        <tr>
                            <th>Fecha Compra</th>
                            <th>Descripcion</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Transacciones != null && Model.Transacciones.Count > 0)
                        {
                            foreach (var item in Model.Transacciones)
                            {
                                <tr style="  text-align:left">
                                    <td>@item.FechaTransaccion.ToString("dd/MM/yyyy")</td>
                                    <td>@item.Description</td>
                                    <td>$ @item.Monto</td>
                                </tr>

                            }
                        }

                    </tbody>
                </table>

         </div>
        </div>
    </div>
</div>




<script>
    $(document).ready(function() {
    $('#transacciones').DataTable({
     searching: true,
    paging: true,
    language: {
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "zeroRecords": "Sin resultados encontrados",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entrada",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "processing": "Procesando...",
        "search": "Buscar:",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    },
    order: [[0, "asc"],[2,"desc"]]
    });
    });
</script>