@model SitePruebaTecnica.Models.ClienteTransaccionModel;

<div class="row">
    <div class="col-12 col-md-6" style="  text-align:left"><h6><label>Titular: @Model.Clientes.NombreTitular</label></h6></div>
    <div class="col-12 col-md-6" style="  text-align:left"><h6><label>Numero de Tarjeta: @Model.Clientes.NumeroTargeta</label></h6></div>
    <div class="col-12 col-md-4" style="  text-align:left"><h6><label>Saldo Actual $: @Model.Clientes.SaldoActual</label></h6></div>
    <div class="col-12 col-md-4" style="  text-align:left"><h6><label>Limite de Credito $:  @Model.Clientes.LimiteCredito</label></h6></div>
    <div class="col-12 col-md-4" style="  text-align:left"><h6><label>Saldo Disponible $: @Model.Clientes.SaldoDisponible</label></h6></div>
    <div class="col-12 col-md-4" style="  text-align:left"><h6><label>Total Compras mes actual $: @Model.TotalComprasMesActual</label></h6></div>
    <div class="col-12 col-md-4" style="  text-align:left"><h6><label>Total Compras mes anterior $: @Model.TotalComprasMesAnterior</label></h6></div>
    <div class="col-12 col-md-4" style="  text-align:left"><h6><label>Interes bonificable $: @Model.InteresBonificable</label></h6></div>
    <div class="col-12 col-md-4" style="  text-align:left"><h6><label>Saldo Total $: @Model.Clientes.SaldoActual</label></h6></div>
    <div class="col-12 col-md-4" style="  text-align:left"><h6><label>% Interes Configurable : @Model.Interes %</label></h6></div>
    <div class="col-12 col-md-4" style="  text-align:left"><h6><label>% Saldo Mínimo : @Model.Porcentaje %</label></h6></div>
</div>