@model SitePruebaTecnica.Models.ClienteTransaccionModel;


<style>
    .bordered-section {
        border: 2px solid #dee2e6;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    .section-title {
        color: #333;
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
</style>

<div class="container">
        <div class="row">
        <div class="col-12 col-md-12" style="  text-align:left">
            <section class="bordered-section">
                <div id="detalleCliente">
                    <div class="row">

                        <div class="col-12 col-md-6" style="  text-align:left"><h6><label>Titular: @Model.Clientes.NombreTitular</label></h6></div>
                        <div class="col-12 col-md-6" style="  text-align:left"><h6><label>Numero de Tarjeta: @Model.Clientes.NumeroTargeta</label></h6></div>
                        <div class="col-12 col-md-4" style="  text-align:left"><h6><label>Saldo Actual $: @Model.Clientes.SaldoActual</label></h6></div>
                        <div class="col-12 col-md-4" style="  text-align:left"><h6><label>Limite de Credito $:  @Model.Clientes.LimiteCredito</label></h6></div>
                        <div class="col-12 col-md-4" style="  text-align:left"><h6><label>Saldo Disponible $: @Model.Clientes.SaldoDisponible</label></h6></div>
                        <div class="col-12 col-md-4" style="  text-align:left"><h6><label>Total Compras mes actual $: @Model.TotalComprasMesActual</label></h6></div>
                        <div class="col-12 col-md-4" style="  text-align:left"><h6><label>Total Compras mes anterior $: @Model.TotalComprasMesAnterior</label></h6></div>
                        <div class="col-12 col-md-4" style="  text-align:left"><h6><label>Interes bonificable $: @Model.InteresBonificable</label></h6></div>
                        <div class="col-12 col-md-4" style="  text-align:left"><h6><label>Saldo Total $: @Model.Clientes.SaldoActual</label></h6></div>
                        <div class="col-12 col-md-4" style="  text-align:left"><h6><label>% Interes Configurable : @Model.Interes %</label></h6></div>
                        <div class="col-12 col-md-4" style="  text-align:left"><h6><label>% Saldo Mínimo : @Model.Porcentaje %</label></h6></div>
                        <div class="col-12 col-md-4" style="  text-align:left"><h6><label>Cuota mínima a pagar  :$ @Model.CuotaMinima</label></h6></div>
                        <div class="col-12 col-md-4" style="  text-align:left"><h6><label>Monto total a Pagar :$ @Model.TotalPagar </label></h6></div>
                        <div class="col-12 col-md-4" style="  text-align:left"><h6><label>Tota a pagar + Intereses :$ @Model.TotalPagarConInteres </label></h6></div>
                    </div>
                </div>
            </section>
        </div>
        </div>
        <br />


    <div class="row">
            <div class="col-12 col-md-12" style="  text-align:left">
            <section class="bordered-section">
                Acciones
                <br />
                <div class="row">
                    <div class="col-12 col-md-3" style="text-align:left">
                        <button type="button" class="btn btn-primary" onclick="Compras(1);">
                            Registrar Compras
                        </button>
                    </div>
                    <div class="col-12 col-md-3" style="text-align:left">
                        <button type="button" class="btn btn-secondary" onclick="Pagos(1);">
                            Registrar Pagos
                        </button>
                    </div>
                    <div class="col-12 col-md-3" style="text-align:left" >
                        <button type="button" class="btn btn-warning" onclick="HistorialTransaccion(@Model.Clientes.CodCliente);">
                            Historial transacciones
                        </button>
                    </div>

                    <div class="col-12 col-md-3" style="text-align:left" >
                        <form action="@Url.Action("DescargarCompras", "Home")" id="formCompras" method="post">
                            <input type="text" name="CodCliente" id="CodCliente" value="@Model.Clientes.CodCliente" style="display:none;" data-ini="S" />

                            <button type="button" class="btn btn-dark" onclick="DescargarExcel();">
                               Descargar Compras
                            </button>
                        </form>
                    </div>
                    <br />
                    <br />
                    <div class="col-12 col-md-3" style="text-align:left">
                        <form action="@Url.Action("DescargarEstadoCuenta", "Home")" id="formEstadoCuentas" method="post">
                            <input type="text" name="CodCliente" id="CodCliente" value="@Model.Clientes.CodCliente" style="display:none;" data-ini="S" />

                            <button type="button" class="btn btn-success" onclick="DescargarEstadoCuentas();">
                           Estado de cuenta
                            </button>
                        </form>
                    </div>
                </div>

             </section>

            </div>
    </div>

    <br />
    <div class="row" id="frmclientes" hidden>
        <div class="col-12 col-md-12" style="  text-align:left">

            <section class="bordered-section">
             <label id="trasacionLabel"></label>
              <br />
                <div class="row">
                    <div class="col-12 col-md-4" id="description">
                        <div class="form-group">
                            <label>Descripcion</label>
                            @Html.TextBoxFor(model => model.Transaccion.Description, new
                                {
                                    @class = "form-control",
                                    maxlength = "100",
                                    pattern = "^[a-zA-ZáéíóúÁÉÍÓÚñÑ\\s]+$",
                                    title = "Solo se permiten letras y espacios",
                                    oninput = "this.value = this.value.replace(/[^a-zA-ZáéíóúÁÉÍÓÚñÑ\\s]/g,'')",
                                    required=true
                                })
                            @Html.ValidationMessageFor(model => model.Transaccion.Description)
                        </div>
                    
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label>Monto</label>
                            @Html.TextBoxFor(model => model.Transaccion.Monto, new { @class = "form-control", type = "number", step = "0.01", required = true })
                            @Html.ValidationMessageFor(model => model.Transaccion.Monto)
                        </div>

                    </div>

                    <div class="col-12 col-md-4">

                        <div class="form-group">
                            <label id="fecha"></label>
                            @Html.TextBoxFor(model => model.Transaccion.FechaTransaccion, new { @class = "form-control", type = "date", required = true })
                            @Html.ValidationMessageFor(model => model.Transaccion.FechaTransaccion)
                        </div>

                    </div>
                </div>
               <div class="row">
                    <div class="col-12 col-md-1">
                        <button type="submit" class="btn btn-secondary" onclick="Compras(0)">Cerrar</button>
                    </div>
                    <div class="col-12 col-md-1">
                        <button type="submit" class="btn btn-primary" onclick="Transaciones(@Model.Clientes.CodCliente);">Enviar</button>
                    </div>
                    
               </div>
            
            </section>
        </div>
      
    </div>


    <br />
    <div class="row">
        <div class="col-12 col-md-12">
            <h1>Transacciones del cliente  </h1>
            <div id="transaccion">
                <table id="transacciones" class="table table-striped" style="width:100%">
                    <thead style="  text-align:left">
                        <tr>
                            <th>Fecha Compra</th>
                            <th>Descripcion</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Transacciones != null && Model.Transacciones.Count > 0)
                        {
                            foreach (var item in Model.Transacciones)
                            {
                                <tr style="  text-align:left">
                                    <td>@item.FechaTransaccion.ToString("dd/MM/yyyy")</td>
                                    <td>@item.Description</td>
                                    <td>$ @item.Monto</td>
                                </tr>

                            }
                        }

                    </tbody>
                </table>

         </div>
        </div>
    </div>
</div>




<script>
    $(document).ready(function() {
    $('#transacciones').DataTable({
     searching: true,
    paging: true,
    language: {
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "zeroRecords": "Sin resultados encontrados",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entrada",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "processing": "Procesando...",
        "search": "Buscar:",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    },
    order: [[0, "asc"],[2,"desc"]]
    });
    });
</script>